/*General*/

body,.wrapper{
    margin:0;
    padding:0;
    width:100%;
}
div.none-display{
    display:none;
}
.inline{
    display:inline-block;
}
div.status-green{
    border-color:lightgreen;
}
div.status-red{
    border-color:indianred;
}
.go-hide{
    display: none;
}
.clear-both{
    clear: both;
}

/*Wrappers*/

.admin-wrapper{
    width:100%;
    min-height:667px;
    background-image: url('../images/fon.jpg');
}
.wrapper-work-admin{
    width:92%;
}

.form-add-workspace{
    text-align: center;
}

.form-box{
    margin:200px auto 0;
    width:60%;
    text-align: center;
    opacity: 0.6;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    min-height: 200px;
    background-color:white;
    padding:25px;
}

.form-box span{
    display:block;
}
.form-box .simple-text{
    font-size:40px;
    margin-bottom: 5px;
}
.form-box .simple-complany-name{
    font-size:50px;
    margin-bottom: 40px;
}
.form-box .btn-success{
    margin-left:30px;
}
.form-box .btn{
    width:100px;
    height:40px;
}

/*Navbar for admin/auth*/
.admin-wrapper .custom-navbar{
    background-color: #428bca;
    border-radius:0px;
}
.admin-wrapper .custom-navbar a,.admin-wrapper .navbar-nav ul>li a{
    color:white;
    opacity:0.8;
}
.admin-wrapper .navbar-nav>li,.admin-wrapper .navbar-nav>li a:hover,.admin-wrapper .navbar-nav>li a:active{
    background-color: #428bca;
}
.navbar-nav>li a:hover{
    opacity: 1;
}

/*Auth*/

.auth-registration, .auth-signin{
    padding-top:150px;
}
.auth-registration form, .auth-signin form{
    width:30%;
    margin:0 auto;
}
.auth-registration form button,.auth-signin form button {
    width:50%;
    margin:0 auto;
    display:block;
}

/*Tasks*/

.button-add-project{
    display:block;
    width:17%;
    margin:0 auto 30px;
}
.task-lists-div{
    min-height:200px;
    width:80%;
    margin:0 auto 50px;
}
.project{
    width:80%;
    min-height:150px;
    margin:0 auto 40px;
}
.head-project{
    height:45px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:0 15px;
}
.glyph-for-head-projects{
    line-height: 44px;
    vertical-align: middle;
    display:inline-block;
    margin-right:30px;
    font-size:19px;
}
.head-buttons-div{
    text-align: right;
    width:75px;
    float:right;
    display:inline-block;
}
.head-buttons-div .glyph-for-head-projects{
    margin-right:10px;
}
.head-buttons-div .glyph-for-head-projects:hover{
    cursor: pointer;
    color:darkorange;
}
.project-name{
    font-family: Arial;
    font-size:17px;
    border:none;
    background-color: #337ab7;
    display:inline-block;
}
.head-add-bar{
    background-color: #eee;
    height:45px;
    line-height:45px;
    vertical-align:middle;
}
.head-add-bar .glyph-for-head-projects{
    color:green;
    padding:0 25px;
    line-height:40px;
    font-size:21px;
    display: inline-block;
    margin-right:0px;
}
.head-add-bar input{
    height:30px;
    vertical-align: middle;
    display:inline-block;
    width:75%;
    border:none;
    padding:0 15px;
}
.head-add-bar button{
    height:30px;
    margin-left:0;
    display:inline-block;
    padding:0 7px;
}
.tasks-of-project{
    min-height:30px;
    background-color: white;
    width:100%;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.empty-project{
    text-align: center;
    color:lightgrey;
    text-shadow: grey;
    line-height: 30px;
    vertical-align: middle;
}

/*Tasks*/

.task-row{
    width:100%;
    height:45px;
    color:grey;
    font-size:16px;
    line-height:45px;
    vertical-align: middle;
    border-bottom:1px solid lightgrey;
    opacity:0.9;
}
.task-row:last-child{
    border-bottom:none;
}
.task-row:first-child{
    border-top:1px solid black;
}
.task-row:hover{
    background-color: #fcfed5;
    cursor: pointer;
}
.task-header{
    background-color:whitesmoke;
    color:black;
    line-height:45px;
    min-height: 45px;
    border-bottom:1px solid grey;
    font-family:Candara;
    font-size:15px;
}
.done-task,.text-task,.task-updating,.task-order-change{
    display:inline-block;

}
.done-task{
    float:left;
    width:10%;
    text-align: center;
    border-right:1px solid lightgrey;
}
.task-text-completed{
    text-decoration: line-through;
}
.task-completed{
    background-color: lightgrey;
    font-style: italic;
    opacity:0.6;
}
.done-task input[type="checkbox"]{
    width:16px;
    height:16px;
}
.text-task{
    text-align:left;
    padding-left:20px;
    float:left;
    width: 50%;
    border-right:1px solid lightgrey;
}
.input-name-task{
    border:none;
    height:45px;
    background-color: inherit;
    width:100%;
}
.input-name-task:focus{
    border:none;
    outline: none;
}
.task-deadline{
    float:left;
    display:inline-block;
    border-right:1px solid lightgrey;
    min-width:90px;
}
.task-updating{
    float:left;
    width: 25%;
    height:45px;
    text-align:center;
    vertical-align: middle;
}
.task-order-change{
    width:36px;
    line-height: 23px;
    vertical-align: middle;
}
.task-updating .glyphicon:hover{
    color:orange;
}
.task-updating .glyphicon{
    font-size:18px;
    margin-right:5px;
}
.task-updating .glyphicon-pencil, .task-updating .glyphicon-trash{
    margin-bottom:15px;
    display: inline-block;
}
